.post {
	@include rem(margin-bottom, 30px);

	.post-image {
		display: block;
		@include rem(height, 270px);
		margin: 0;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
		font-size: 0;
	}
		.post-image-caption {
			display: inline-block;
			margin-top: 4px;
			@include rem(padding, 0 10px);
			@include font-family(hn);
			font-size: 9px;
			line-height: 1.2;
			color: $color-gray-4;
		}

	.post-desc {
		@include rem(margin-top, 30px);
		@include rem(padding, 0 30px);
		border: 0;
	}
		.post-meta {
			@include table(middle);
			@include rem(margin-bottom, 20px);
		}
			.post-rubric {
				@include rem(font-size, 23px);
			}
			.post-date {
				text-align: right;
				@include rem(font-size, 16px);
				line-height: 1.2;
			}

		.post-title {
			@include rem(font-size, 30px);
			line-height: 1.1;
		}
		.post-content {
			@include rem(font-size, 23px);
			line-height: 1.2;
		}
}