body {
	padding: 0;
}

// h1 {
// 	@include rem(margin-bottom, 16px);
// 	@include font-family(hb);
// 	@include rem(font-size, 28px);
// 	color: #333;
// }
// h2 {
// 	@include rem(margin-bottom, 14px);
// 	@include font-family(hb);
// 	@include rem(font-size, 22px);
// 	color: #333;
// }
// h3 {
// 	@include rem(margin-bottom, 10px);
// 	@include font-family(hb);
// 	@include rem(font-size, 18px);
// 	color: #333;
// }
// h4 {
// 	@include rem(margin-bottom, 8px);
// 	@include font-family(hb);
// 	@include rem(font-size, 16px);
// 	color: #333;
// }

.news-list {
	@include rem(padding, 30px);
	border-top: 2px solid $color-gray-5;

	.news-date {
		width: 1px;
		@include rem(font-size, 20px);
	}
	.news-title {
		@include rem(font-size, 20px);
	}
}