footer {
	position: relative;
	height: $footer-height;
	@include rem(padding, 50px);
	border-top: 2px solid #000;
	@include font-family(hn);
	color: $color-gray-4;
	transition: transform .3s;

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		top: -13px;
		height: 1px;
		background: #D7D7D7;
		left: 0;
	}

	.copyright {
		@include rem(margin-bottom, 30px);
		@include rem(font-size, 23px);
		line-height: 1.2;
		color: $color-gray-4;
	}
	.social {
		a {
			display: inline-block;
			color: #ccc;

			& + a {
				margin-left: 30px;
			}
			&:hover {
				color: #666;
			}
		}
		i.fa {
			@include rem(font-size, 40px);
		}
	}
	.counters {
		.item {
			display: inline-block;

			& + .item {
				margin-left: 10px;
			}
		}
	}

	.tag-links {
		a {
			display: inline-block;
			position: relative;
			margin-right: 15px;
			padding-right: 15px;
			line-height: 17px;

			&:before {
				content: '|';
				position: absolute;
				top: 0;
				right: 0;
			}
			&:last-child:before {
				content: none;
			}

			&:hover {
				span {
					color: #666;
				}
			}
		}
	}
}