// $syntax: (css);
// $breakpoint: (
//   xl : "",
//   lg : "(max-width: 1200px)",
//   md : "(max-width: 992px)",
//   sm : "(max-width: 768px)",
//   xs : "(max-width: 601px)"
// );
// $wrap-col:     ('auto', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);
// $wrap-prop:    (table, top, bottom, left, center, right);
// $col-row:      (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);
// $col-width:    ();
// $col-prop:     (hidden);
// $wrap-gutter:  (0, 10, 15, 20, 30);
// $wrap-outside: (0, 10, 15, 20, 30);
// $wrap-masonry: ();

// @import "flexiblegs-plus";
// @import "flexiblegs";

$syntax: (css); 
$breakpoint: (xl:"");
$wrap-col:     (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12); // e.g. xl-4
$wrap-prop:    (left, center, right); // e.g. xl-center, xl-right
$col-row:      (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12); // e.g. xl-7-10
$col-width:    ();
$col-prop:     ();
$wrap-gutter:  ();
$wrap-outside: ();
$wrap-masonry: ();

@import "flexiblegs-plus";
@import "flexiblegs";


// wrap mixin styles (обертка для колонок)
// небольшой fix, упрощение стилей flexible.gs
@mixin wrap ($gutter: 0, $mode: outside) {
	// common wrap styles
	@if $gutter == 0 {
		font-size: 0;
		& > * {
			display: inline-block;
			max-width: 100%;
			vertical-align: top;
			@include font-size(14px);
		}
	}
	@elseif $gutter > 0 {
		// styles for gutters
		@if $mode == 'inside' {
			padding-left: $gutter/2;
			padding-right: $gutter/2;
		}
		> .row {
			font-size: 0;
			margin-left: -$gutter/2;
			margin-right: -$gutter/2;

			> * {
				padding-left: $gutter/2;
				padding-right: $gutter/2;
				display: inline-block;
				max-width: 100%;
				vertical-align: top;
				@include font-size(14px);
			}
		}
	}
}

// упрощенный аналог xl-table
@mixin table () {
	display: table;
	& > * {
		display: table-cell;
		vertical-align: top;
	}
}