.m-page-container {
	min-height: 100%;
	margin-bottom: -$footer-height-mobile;
	transition: transform .3s;

	&.expanded {
		height: 100%;
		transform: translate(80%);
		margin-bottom: 13px; // footer:before height

		.navbar-overlay {
			display: block;
		}
		+ footer {
			transform: translate(80%);
		}
	}
	&:after {
		content: "";
		display: block;
		height: $footer-height-mobile;
	}
}
.m-page-content {
	border-top: 2px solid #000;
	padding-bottom: 40px;
}