// common styles
.page-container {
	transition: transform .3s;

	&.expanded {
		transform: translate(80%);

		.navbar-overlay {
			display: block;
		}
	}
}
.page-content {
	border-top: 2px solid #000;
}