@media screen and (min-width: 640px) and (max-width: 800px) {
	html {
		font-size: 10px;
	}
	.post {
		.post-image{
			@include rem(height, 370px);
		}
	}
}
@media screen and (max-width: 640px) {
	html {
		// font-size: 10px;
	}
}
@media screen and (max-width: 536px) {
	html {
		font-size: 8px;
	}
	.button {
		@include rem(font-size, 20px);		
	}
}
@media screen and (max-width: 421px) {
	html {
		font-size: 6px;
	}
	.format-text {
		@include rem(font-size, 20px);
	}
}