@media screen and (max-width: 639px) {
	html {
		font-size: 9px;
	}
}
@media screen and (max-width: 536px) {
	html {
		font-size: 8px;
	}
}
@media screen and (max-width: 421px) {
	html {
		font-size: 6px;
	}
}