// GLOBAL VARS
	$base-font-size:	10px;
	$footer-height:		200px;
	$navbar-width:		80%;

// COLORS
	$color-bg-body: 	#FFF6F1;
	$color-blue:		#2980B9;
	$color-blue-2:		#4F83B8;
	$color-green:		#417505;
	$color-gray:		#444;
	$color-gray-2:		#656565;
	$color-gray-3:		#9B9B9B;
	$color-gray-4:		#B9B9B9;
	$color-gray-5:		#D7D7D7;
