.comments
	.comments-title
		span Комментарии (15)

	p.no-comments Пока никто не прокомментировал этот материал. Вы можете стать первым и начать дискуссию.

	ul.comments-list
		-for (i=0; i<2; i++)
			li.item
				.comment-meta
					.comment-author Автор Комментария
					.comment-date 21.12.2016
				.comment-text Механизм власти сохраняет доиндустриальный тип политической культуры, говорится в докладе ОБСЕ. Англо-американский тип политической культуры, согласно традиционным представлениям, верифицирует конструктивный субъект власти.

	form.comment-form
		textarea
		input.button(type="submit", value="Комментировать")