.posts-wrap.col-4
	-for (i=0; i<4; i++)
		article.post
			.post-image
				a(href="") 
					img(src="/assets/images/tmp/posts/1.jpg", alt="post title")
			.post-desc
				.post-date 15:05, 16 декабря 2015
				.post-title 
					a(href="") Задача успешно решена, общими усилиями
				.post-content
					p Bio — биотех и медицинские технологии; Industry — новые технологии в машиностроении, инженерные разработки, приборостроение, транспорт; Oil & gas — новые материалы.
		article.post
			.post-image
				a(href="") 
					img(src="/assets/images/tmp/posts/2.jpg", alt="post title")
			.post-desc
				.post-date 15:05, 16 декабря 2015
				.post-title
					a(href="") Новая подсветка установлена на здании университета
				.post-content
					p Гомеостаз, согласно традиционным представлениям, сложен. Перцепция иллюстрирует когнитивный генезис, что вызвало развитие поведения.
				.post-comments
					i.fa.fa-comments-o
					a(href="#") 15 комментариев