script(src="/assets/js/vendor/jquery-latest.min.js")
script(src="/assets/js/vendor/owl.carousel.min.js")
script(src="/assets/js/vendor/jquery.event.swipe.js")
script(src="/assets/js/partials/modal.js")
script(src="/assets/js/partials/expand.js")
script(src="/assets/js/app.js")