.widget
	.news-list
		ul
			each newsItem in ['Грузия позитивно оценивает возможность отмены визового режима с Россией', 'Два спутника Galileo успешно отделились от ракеты-носителя «Союз-СТ»', 'По делу о хищениях заочно арестован один из бывших руководителей банка «Траст»', 'Мосгорсуд смягчил приговор фигуранту дела о вандализме на столичной высотке', 'Пожар в Доме культуры МВД в Москве потушен']
				li
					.news-date 15:34
					.news-title 
						a(href="#")= newsItem

.widget
	.poster.poster-caption(data-caption="Фото: Наталья Волкова / Фотобанк Лори")
		img(src="/assets/images/tmp/random-image.jpg", alt="Фото: Наталья Волкова / Фотобанк Лори")

.widget
	.news-list
		.widget-title Обсуждаемое
		ul.widget-content
			each newsItem in ['По делу о хищениях заочно арестован один из бывших руководителей банка «Траст»', 'Мосгорсуд смягчил приговор фигуранту дела о вандализме на столичной высотке', 'Грузия позитивно оценивает возможность отмены визового режима с Россией', 'Два спутника Galileo успешно отделились от ракеты-носителя «Союз-СТ»', 'Пожар в Доме культуры МВД в Москве потушен']
				li
					.news-date 15:34
					.news-title 
						a(href="#")= newsItem

.widget
	.post
		.post-date 15:05, 16 декабря 2015
		.post-title Ключевая цель образовательной программы
		.post-content
			p Учение Монтескье фактически вызывает субъект власти. Глобализация приводит механизм власти. Либерализм, с другой стороны, определяет авторитаризм, что может привести к усилению полномочий Общественной палаты. Типология средств массовой коммуникации, согласно традиционным представлениям, формирует современный феномен толпы, указывает в своем исследовании К.Поппер.
			p Механизм власти сохраняет доиндустриальный тип политической культуры, говорится в докладе ОБСЕ. Англо-американский тип политической культуры, согласно традиционным представлениям, верифицирует конструктивный субъект власти. Культ личности, особенно в условиях политической нестабильности, неизменяем. Политическое манипулирование, короче говоря, однозначно символизирует классический христианско-демократический национализм, если взять за основу только формально-юридический аспект.
			p Политический процесс в современной России, короче говоря, сохраняет эмпирический коммунизм. По мнению Бакунина, культ личности означает современный культ личности. Наконец, международная политика предсказуема. Харизматическое лидерство представляет собой авторитаризм.