html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover, button:focus {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

button:focus,
input:focus,
textarea:focus {
  outline: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="checkbox"] {
  -webkit-border-radius: 0;
          border-radius: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
  width: 100%;
  padding: 15px;
  padding: 1.5rem;
  background: #fafafa;
  border: 1px solid #444;
  outline: 1px solid transparent;
  font-size: 14px;
  color: #454545;
  resize: vertical;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
textarea:focus {
  background-color: #fff;
  border-color: #666;
  outline-color: #666;
  color: #111;
}

textarea {
  min-height: 150px;
}

.button {
  padding: 13px 33px;
  padding: 1.3rem 3.3rem;
  background-color: #444;
  border: 3px solid #444;
  font-family: hb, arial, serif;
  font-size: 14px;
  font-size: 1.4rem;
  color: #fff;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
       -o-transition: border-color 0.3s, background-color 0.3s;
          transition: border-color 0.3s, background-color 0.3s;
}

.button:hover,
.button:focus {
  background-color: #4c4c4c;
  border-color: #1e1e1e;
  text-decoration: none;
}

.button.button-primary {
  background-color: #2472a4;
  border-color: #164666;
}

.button.button-primary:hover,
.button.button-primary:focus {
  background-color: #2c89c6;
  border-color: #1b557a;
}

.pair {
  font-family: hn, arial, serif;
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}

.pair label {
  display: inline-block;
  color: #575757;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}

.pair + .pair {
  margin-top: 15px;
  margin-top: 1.5rem;
}

.checkbox {
  position: relative;
  display: inline-block;
  min-height: 22px;
  min-height: 2.2rem;
  padding-left: 33px;
  padding-left: 3.3rem;
  font-size: 16px;
  font-size: 1.6rem;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0;
  width: 22px;
  width: 2.2rem;
  height: 22px;
  height: 2.2rem;
  vertical-align: middle;
}

.checkbox span {
  display: inline-block;
  margin-top: 2px;
  color: #333;
}

.checkbox span:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  width: 2.2rem;
  height: 22px;
  height: 2.2rem;
  line-height: 21px;
  line-height: 2.1rem;
  background-color: #fff;
  border: 1px solid #444;
  font-family: fontAwesome;
  font-size: 17px;
  font-size: 1.7rem;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}

.checkbox input[type="checkbox"]:checked + span:before {
  content: "\f00c";
}

.checkbox input[type="checkbox"]:focus + span:before {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.alert {
  display: inline-block;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.alert i.fa + span {
  margin-left: 5px;
}

.alert.alert-fluid {
  display: block;
}

.alert.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

/*! Flexible Grid System 5.4.0 | Scss Plus | MIT License | flexible.gs */
/*! Flexible Grid System 5.4.0 | Scss | MIT License | flexible.gs */
.wrap {
  display: block;
  width: 100%;
  font-size: 0;
  letter-spacing: 0;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap > * {
  display: inline-block;
}

.col {
  min-height: 1px;
  font-size: 1rem;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.xl-1 > * {
  width: 100%;
}

.xl-2 > * {
  width: 50%;
}

.xl-3 > * {
  width: 33.33333%;
}

.xl-4 > * {
  width: 25%;
}

.xl-5 > * {
  width: 20%;
}

.xl-6 > * {
  width: 16.66667%;
}

.xl-7 > * {
  width: 14.28571%;
}

.xl-8 > * {
  width: 12.5%;
}

.xl-9 > * {
  width: 11.11111%;
}

.xl-10 > * {
  width: 10%;
}

.xl-11 > * {
  width: 9.09091%;
}

.xl-12 > * {
  width: 8.33333%;
}

.xl-left {
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -webkit-box-pack: start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.xl-center {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.xl-right {
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -webkit-box-pack: end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.xl-1-1 {
  width: 100%;
}

.xl-1-2 {
  width: 50%;
}

.xl-1-3 {
  width: 33.33333%;
}

.xl-2-3 {
  width: 66.66667%;
}

.xl-1-4 {
  width: 25%;
}

.xl-2-4 {
  width: 50%;
}

.xl-3-4 {
  width: 75%;
}

.xl-1-5 {
  width: 20%;
}

.xl-2-5 {
  width: 40%;
}

.xl-3-5 {
  width: 60%;
}

.xl-4-5 {
  width: 80%;
}

.xl-1-6 {
  width: 16.66667%;
}

.xl-2-6 {
  width: 33.33333%;
}

.xl-3-6 {
  width: 50%;
}

.xl-4-6 {
  width: 66.66667%;
}

.xl-5-6 {
  width: 83.33333%;
}

.xl-1-7 {
  width: 14.28571%;
}

.xl-2-7 {
  width: 28.57143%;
}

.xl-3-7 {
  width: 42.85714%;
}

.xl-4-7 {
  width: 57.14286%;
}

.xl-5-7 {
  width: 71.42857%;
}

.xl-6-7 {
  width: 85.71429%;
}

.xl-1-8 {
  width: 12.5%;
}

.xl-2-8 {
  width: 25%;
}

.xl-3-8 {
  width: 37.5%;
}

.xl-4-8 {
  width: 50%;
}

.xl-5-8 {
  width: 62.5%;
}

.xl-6-8 {
  width: 75%;
}

.xl-7-8 {
  width: 87.5%;
}

.xl-1-9 {
  width: 11.11111%;
}

.xl-2-9 {
  width: 22.22222%;
}

.xl-3-9 {
  width: 33.33333%;
}

.xl-4-9 {
  width: 44.44444%;
}

.xl-5-9 {
  width: 55.55556%;
}

.xl-6-9 {
  width: 66.66667%;
}

.xl-7-9 {
  width: 77.77778%;
}

.xl-8-9 {
  width: 88.88889%;
}

.xl-1-10 {
  width: 10%;
}

.xl-2-10 {
  width: 20%;
}

.xl-3-10 {
  width: 30%;
}

.xl-4-10 {
  width: 40%;
}

.xl-5-10 {
  width: 50%;
}

.xl-6-10 {
  width: 60%;
}

.xl-7-10 {
  width: 70%;
}

.xl-8-10 {
  width: 80%;
}

.xl-9-10 {
  width: 90%;
}

.xl-1-11 {
  width: 9.09091%;
}

.xl-2-11 {
  width: 18.18182%;
}

.xl-3-11 {
  width: 27.27273%;
}

.xl-4-11 {
  width: 36.36364%;
}

.xl-5-11 {
  width: 45.45455%;
}

.xl-6-11 {
  width: 54.54545%;
}

.xl-7-11 {
  width: 63.63636%;
}

.xl-8-11 {
  width: 72.72727%;
}

.xl-9-11 {
  width: 81.81818%;
}

.xl-10-11 {
  width: 90.90909%;
}

.xl-1-12 {
  width: 8.33333%;
}

.xl-2-12 {
  width: 16.66667%;
}

.xl-3-12 {
  width: 25%;
}

.xl-4-12 {
  width: 33.33333%;
}

.xl-5-12 {
  width: 41.66667%;
}

.xl-6-12 {
  width: 50%;
}

.xl-7-12 {
  width: 58.33333%;
}

.xl-8-12 {
  width: 66.66667%;
}

.xl-9-12 {
  width: 75%;
}

.xl-10-12 {
  width: 83.33333%;
}

.xl-11-12 {
  width: 91.66667%;
}

@font-face {
  font-family: hn;
  src: url("../fonts/helvetica-normal/font.eot");
  src: url("../fonts/helvetica-normal/font.eot") format("embedded-opentype"), url("../fonts/helvetica-normal/font.woff") format("woff"), url("../fonts/helvetica-normal/font.ttf") format("truetype");
}

@font-face {
  font-family: hb;
  src: url("../fonts/helvetica-bold/font.eot");
  src: url("../fonts/helvetica-bold/font.eot") format("embedded-opentype"), url("../fonts/helvetica-bold/font.woff") format("woff"), url("../fonts/helvetica-bold/font.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
  padding: 0 10px;
  overflow-x: hidden;
  font-family: Georgia, serif;
  font-size: 14px;
  font-weight: normal;
  background-color: #FFF6F1;
}

body.no-scroll {
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.link {
  color: #2980B9;
  border-bottom: 1px solid;
}

a.link:hover {
  color: #1b557a;
  text-decoration: none;
}

a.link:focus {
  outline: none;
  border-width: 2px;
  border-color: #1b557a;
}

a, span, p {
  color: inherit;
  font: inherit;
  line-height: inherit;
}

h1 {
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
  font-family: hb, arial, serif;
  font-size: 28px;
  font-size: 2.8rem;
  color: #333;
}

h2 {
  margin-bottom: 14px;
  margin-bottom: 1.4rem;
  font-family: hb, arial, serif;
  font-size: 22px;
  font-size: 2.2rem;
  color: #333;
}

h3 {
  margin-bottom: 10px;
  margin-bottom: 1rem;
  font-family: hb, arial, serif;
  font-size: 18px;
  font-size: 1.8rem;
  color: #333;
}

h4 {
  margin-bottom: 8px;
  margin-bottom: 0.8rem;
  font-family: hb, arial, serif;
  font-size: 16px;
  font-size: 1.6rem;
  color: #333;
}

ul {
  list-style: none;
}

.clrfix:after, .news-list li:after, .page-container:after, .comments .comments-list .comment-meta:after {
  content: '';
  display: table;
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.pull-auto {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.v-middle:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 100%;
  margin-left: -1px;
  vertical-align: middle;
}

.v-middle > * {
  display: inline-block;
  vertical-align: middle;
}

.news-list li {
  position: relative;
  margin-bottom: 18px;
  display: table;
}

.news-list li > * {
  display: table-cell;
  vertical-align: top;
}

.news-list li .news-date {
  padding: 3px 20px 0 0;
  font-family: hn, arial, serif;
  font-size: 12px;
  color: #9B9B9B;
}

.news-list li .news-title {
  font-size: inherit;
  font-family: hn, arial, serif;
  line-height: 1.3;
  color: #444;
}

.news-list li .news-title a {
  display: inline-block;
}

.news-list li:last-child {
  margin-bottom: 0;
}

.banner {
  margin-bottom: 30px;
  margin-bottom: 3rem;
}

.banner a {
  display: block;
}

.banner img {
  width: 100%;
}

.banner.fixed-image img {
  width: auto;
}

.table {
  display: table;
  width: 100%;
}

.table .col {
  display: table-cell;
  max-width: 1px;
}

.gutter-30 > .row {
  font-size: 0;
  margin-left: -15px;
  margin-right: -15px;
}

.gutter-30 > .row > * {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
  font-size: 14px;
  font-size: 1.4rem;
}

.fa-icon i.fa {
  margin-right: 5px;
  margin-right: 0.5rem;
}

ul.list {
  margin: 5px 0;
  list-style: square inside;
  font-size: inherit;
  color: inherit;
}

ul.list li {
  line-height: 1.3;
}

ul.list li + li {
  margin-top: 3px;
}

ul.list.list-indented {
  padding-left: 15px;
}

.format-text {
  line-height: 1.3;
  color: #444;
}

.format-text h3 {
  color: #333;
}

.format-text p {
  margin-bottom: 20px;
  margin-bottom: 2rem;
}

.format-text .text-indent {
  text-indent: 25px;
  text-indent: 2.5rem;
}

.panel, .single-form {
  padding: 30px;
  padding: 3rem;
  border: 1px solid #D7D7D7;
}

.panel-title, .auth-area fieldset legend {
  font-family: hb, arial, serif;
  font-size: 28px;
  font-size: 2.8rem;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  color: #333;
}

.poster {
  position: relative;
  font-size: 0;
}

.poster img {
  display: block;
  width: 100%;
}

.poster .poster-title {
  display: block;
  position: absolute;
  bottom: 0;
  margin-top: 6px;
  padding: 24px;
  padding: 2.4rem;
  font-family: hb, arial, serif;
  font-size: 27px;
  font-size: 2.7rem;
  color: #fff;
}

.poster.poster-caption:after {
  content: attr(data-caption);
  display: inline-block;
  margin-top: 6px;
  font-family: hn, arial, serif;
  font-size: 9px;
  line-height: 11px;
  color: #B9B9B9;
}

.poster.poster-overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.4s;
       -o-transition: background-color 0.4s;
          transition: background-color 0.4s;
}

.poster.poster-overlay:hover:before {
  background-color: transparent;
}

.split-content {
  font-size: 0;
  margin-bottom: -25px;
  margin-bottom: -2.5rem;
}

.split-content > * {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
  font-size: 14px;
  font-size: 1.4rem;
}

.split-content p {
  width: 50%;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  padding: 0 30px 0 0;
  padding: 0 3rem 0 0;
}

.split-content p + p {
  margin-top: 0 !important;
}

.split-content p:nth-child(2n) {
  margin-left: -1px;
  padding: 0 0 0 30px;
  padding: 0 0 0 3rem;
  border-left: 1px solid #D7D7D7;
}

.pagination {
  width: 100%;
  margin-bottom: 30px;
  margin-bottom: 3rem;
  padding-top: 20px;
  padding-top: 2rem;
  border-top: 1px solid #D7D7D7;
}

.pagination ul {
  font-size: 0;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination li a {
  display: block;
  padding: 5px 10px;
  padding: 0.5rem 1rem;
  border: 1px solid #B9B9B9;
  font-family: hn, arial, serif;
  font-size: 14px;
  text-align: center;
  color: #000;
  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  opacity: .6;
}

.pagination li a.active {
  color: #fff;
  background-color: #2980B9;
  border-color: transparent;
  opacity: 1;
}

.pagination li a.active.active:hover {
  cursor: default;
  opacity: 1;
}

.pagination li a.disabled {
  cursor: default;
  opacity: .6;
}

.pagination li a.disabled:hover {
  opacity: .6;
}

.pagination li a:hover {
  text-decoration: none;
  opacity: 1;
}

.pagination li:first-child {
  margin-left: 0;
}

.pagination li:first-child a {
  -webkit-border-radius: 0 0 0 5px;
          border-radius: 0 0 0 5px;
}

.pagination li:last-child {
  margin-right: 0;
}

.pagination li:last-child a {
  -webkit-border-radius: 0 5px 0 0;
          border-radius: 0 5px 0 0;
}

header {
  font-family: hn, arial, serif;
  color: #444;
}

header .col {
  position: relative;
  padding: 0 15px;
  vertical-align: bottom;
  font-size: 14px;
}

header .col:first-child {
  width: 21%;
  padding-left: 0;
}

header .col:last-child {
  width: 21%;
  padding-right: 0;
}

header .col > div {
  padding-bottom: 8px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
}

header .weather-block .city-name {
  color: #9B9B9B;
}

header .weather-block .city-temp {
  color: #417505;
}

header .currencies {
  position: absolute;
  top: 100%;
  padding-top: 15px;
}

header .currencies .item {
  display: inline-block;
}

header .currencies .item + .item {
  margin-left: 10px;
}

header .currencies .fa {
  margin-right: 5px;
}

header .currencies .fa.fa-usd {
  color: #417505;
}

header .currencies .fa.fa-euro {
  color: #2980B9;
}

header .hot-news {
  text-align: center;
}

header .auth-block {
  text-align: right;
}

header .auth-block > a {
  display: inline-block;
  position: relative;
  font-size: 16px;
}

header .auth-block > a i.fa {
  margin-right: 7px;
}

header .auth-block > a + a {
  margin-left: 10px;
  padding-left: 10px;
}

header .auth-block > a + a:before {
  content: '|';
  position: absolute;
  top: 0;
  left: 0;
}

header .logo {
  display: block;
  padding: 50px 0 40px;
  border-bottom: 8px solid #4F83B8;
  text-align: center;
}

header .logo img {
  max-width: 376px;
  max-width: 37.6rem;
}

.top-nav {
  margin: 2px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  white-space: nowrap;
}

.top-nav ul {
  font-size: 0;
}

.top-nav li {
  display: inline-block;
}

.top-nav li a {
  position: relative;
  display: inline-block;
  padding: 11px;
  padding: 1.1rem;
  border-bottom: 2px solid transparent;
  font-family: hb, arial, serif;
  font-size: 17px;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #2980B9;
  -webkit-transition: color 0.3s;
       -o-transition: color 0.3s;
          transition: color 0.3s;
}

.top-nav li a:before {
  content: '';
  position: absolute;
  top: -11px;
  left: 0;
  right: 0;
  height: 8px;
  background: #233C54;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
       -o-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

.top-nav li a:hover,
.top-nav li a.active {
  color: #2472a4;
  color: #233C54;
  text-decoration: none;
}

.top-nav li a:hover:before,
.top-nav li a.active:before {
  opacity: 1;
}

.page-wrap {
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  margin-bottom: -200px;
  padding-top: 40px;
  padding-top: 4rem;
  min-width: 960px;
}

.page-wrap:after {
  content: "";
  display: block;
  height: 200px;
}

.page-container {
  padding: 25px 0;
  border-top: 2px solid #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 0;
}

.page-container > * {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
  font-size: 14px;
  font-size: 1.4rem;
}

.page-content {
  font-size: 0;
}

.page-content > * {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
  font-size: 14px;
  font-size: 1.4rem;
}

.single-content, .auth-area {
  display: block;
  margin-bottom: 40px;
  margin-bottom: 4rem;
  padding-top: 40px;
  padding-top: 4rem;
  padding-bottom: 40px;
  padding-bottom: 4rem;
  font-family: hn, arial, serif;
}

.page-sidebar.sidebar-left {
  padding-right: 30px;
  padding-right: 3rem;
}

.page-sidebar.sidebar-left .banner {
  text-align: left;
}

.page-sidebar.sidebar-right {
  padding-left: 30px;
  padding-left: 3rem;
}

.page-sidebar.sidebar-right .banner {
  text-align: right;
}

.page-sidebar .widget {
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
}

.page-sidebar .widget .widget-title {
  margin-bottom: 11px;
  font-family: hb, arial, serif;
  font-size: 14px;
  color: #4F83B8;
}

.page-sidebar .widget .widget-title + .widget-content {
  padding: 13px 0 22px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.page-sidebar .widget.widget-blinded .widget-title {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 36px;
  color: #9B9B9B;
}

.page-sidebar .widget.widget-blinded .widget-content {
  font-size: 17px;
  font-size: 1.7rem;
}

.page-sidebar .post {
  padding-right: 40px;
  padding-right: 4rem;
}

.page-sidebar .post .post-title {
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
  padding-right: 15px;
  padding-right: 1.5rem;
}

.page-sidebar .post .post-content {
  color: #444;
}

.page-sidebar .post .post-content p {
  font-size: 16px;
  line-height: 20px;
}

.page-sidebar .post .post-content p + p {
  margin-top: 20px;
}

.post .post-image {
  margin-bottom: 14px;
}

.post .post-image img {
  width: 100%;
}

.post .post-rubric {
  margin-bottom: 8px;
  font-family: hn, arial, serif;
  font-size: 16px;
  color: #4F83B8;
}

.post .post-date {
  margin-bottom: 9px;
  font-family: hn, arial, serif;
  font-size: 9px;
  line-height: 11px;
  color: #9B9B9B;
}

.post .post-title {
  margin-bottom: 16px;
  font-family: hb, arial, serif;
  font-size: 20px;
  line-height: 21px;
  color: #151515;
  cursor: pointer;
}

.post .post-title a {
  display: block;
}

.post .post-title:hover {
  color: #2980B9;
}

.post .post-title:hover a {
  text-decoration: none;
}

.post .post-content {
  color: #656565;
}

.post .post-content p {
  font-size: 14px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.89);
}

.post .post-content p + p {
  margin-top: 10px;
}

.post .post-desc {
  padding-left: 15px;
  border-left: 1px solid #D7D7D7;
}

.post .post-add-info {
  margin: 9px 0 15px;
  font-family: hn, arial, serif;
  font-size: 9px;
  line-height: 11px;
  color: #4F83B8;
}

.post .post-add-info i.fa {
  margin-right: 12px;
  font-size: 23px;
  color: #000;
  vertical-align: middle;
}

.post .post-add-info .item {
  vertical-align: middle;
}

.post .post-add-info .item:hover i {
  color: #4F83B8;
}

.post .post-author {
  margin: 20px 0;
  margin: 2rem 0;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #9B9B9B;
}

.post .post-gallery {
  padding: 0 55px;
  padding: 0 5.5rem;
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
}

.post .post-gallery .poster {
  height: 450px;
  height: 45rem;
  padding-bottom: 20px;
}

.post .post-gallery .poster img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.post .post-gallery .owl-prev,
.post .post-gallery .owl-next {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 33px;
  height: 55px;
  margin-top: -27px;
  background: url(../../assets/images/gallery-arrows-sprite.png) no-repeat left;
  -webkit-transition: opacity 0.3s;
       -o-transition: opacity 0.3s;
          transition: opacity 0.3s;
  opacity: .6;
}

.post .post-gallery .owl-prev:hover,
.post .post-gallery .owl-next:hover {
  opacity: .9;
}

.post .post-gallery .owl-next {
  left: auto;
  right: 5px;
  background-position: right;
}

.post.post-sticky {
  margin-bottom: 30px;
  margin-bottom: 3rem;
  padding-bottom: 25px;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #D7D7D7;
}

.post.post-sticky .post-image {
  width: 50%;
  margin: 0 30px 30px 0;
  margin: 0 3rem 3rem 0;
  float: left;
}

.post.post-sticky .post-title {
  margin: 14px 0 11px;
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.1;
  color: #151515;
}

.post.post-sticky .post-title a:hover {
  text-decoration: none;
}

.post.post-sticky .post-content {
  clear: both;
  color: #444;
}

.post.post-sticky .post-content p {
  font-size: 16px;
  line-height: 20px;
}

.post.sinle-post .post-image {
  position: relative;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  cursor: pointer;
}

.post.sinle-post .post-image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 17px;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
       -o-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

.post.sinle-post .post-image .post-image-zoom {
  position: absolute;
  bottom: 17px;
  right: 0;
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.post.sinle-post .post-image .post-image-zoom:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0 74px 74px;
  border-color: transparent transparent #FFF6F1 transparent;
}

.post.sinle-post .post-image .post-image-zoom:after {
  content: '';
  display: block;
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 20px;
  height: 20px;
  background: none;
  border: 0;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  -webkit-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

.post.sinle-post .post-image:hover:before {
  opacity: .3;
}

.post.sinle-post .post-content {
  margin-bottom: 30px;
  margin-bottom: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.post.sinle-post .post-content p {
  font-size: 16px;
  line-height: 20px;
}

.post.post-full p {
  line-height: 1.2;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}

.post.post-full .post-meta {
  margin-bottom: 16px;
}

.post.post-full > .post-title {
  margin: 20px 0;
  margin: 2rem 0;
  font-size: 30px;
  font-size: 3rem;
}

.post.post-full .post-excerpt {
  margin-bottom: 23px;
  margin-bottom: 2.3rem;
  padding: 0 23px 0 170px;
  padding: 0 2.3rem 0 17rem;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.3;
  color: #444;
}

.post.post-full > .post-desc {
  margin-bottom: 23px;
  margin-bottom: 2.3rem;
  padding: 0 23px 23px 170px;
  padding: 0 2.3rem 2.3rem 17rem;
  font-size: 19px;
  font-size: 1.9rem;
  color: #262626;
  border: 0;
}

.post.post-full .embed-wrap {
  margin-bottom: 20px;
  margin-bottom: 2rem;
}

.post .post-embed {
  float: left;
  width: 290px;
  width: 29rem;
  margin-left: -170px;
  margin-left: -17rem;
  padding: 0 30px 15px 0;
  padding: 0 3rem 1.5rem 0;
}

.comments {
  padding: 0 23px 23px 170px;
  padding: 0 2.3rem 2.3rem 17rem;
}

.comments .comments-title {
  border-bottom: 3px solid #444;
  font-family: hb, arial, serif;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
}

.comments .comments-title span {
  display: inline-block;
  padding: 13px 43px;
  padding: 1.3rem 4.3rem;
  background-color: #444;
  color: #fff;
}

.comments .no-comments {
  font-size: 16px;
  font-size: 1.6rem;
  color: #9B9B9B;
}

.comments .comments-list li {
  margin-bottom: 23px;
  margin-bottom: 2.3rem;
}

.comments .comments-list .comment-meta {
  border-left: 3px solid transparent;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding-left: 30px;
  padding-left: 3rem;
  font-size: 14px;
  font-size: 1.4rem;
  color: #9B9B9B;
}

.comments .comments-list .comment-author {
  float: left;
}

.comments .comments-list .comment-date {
  float: right;
}

.comments .comments-list .comment-text {
  border-left: 3px solid #D7D7D7;
  padding-left: 30px;
  padding-left: 3rem;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 20px;
  color: #444;
}

.comments .comments-title + .comments-list {
  margin-top: 30px;
  margin-top: 3rem;
}

.comments .comment-form {
  margin-bottom: 20px;
  text-align: right;
}

.comments .comment-form textarea {
  width: 100%;
  min-height: 65px;
  margin-bottom: 10px;
  border: 1px solid #444;
  text-align: left;
}

.posts-wrap > .row {
  font-size: 0;
  margin-left: -15px;
  margin-right: -15px;
}

.posts-wrap > .row > * {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
  font-size: 14px;
  font-size: 1.4rem;
}

.posts-wrap .post {
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
}

.posts-wrap + .page-sidebar {
  padding-left: 30px;
  padding-left: 3rem;
}

footer {
  height: 200px;
  max-width: 1200px;
  min-width: 960px;
  margin: 9px auto 0;
  padding: 25px 0;
  border-top: 2px solid #000;
  font-family: hn, arial, serif;
  color: #B9B9B9;
  font-size: 0;
}

footer > * {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
  font-size: 14px;
  font-size: 1.4rem;
}

footer .footer-col {
  width: 25%;
  padding-right: 10px;
  padding-right: 1rem;
}

footer .footer-col:first-child {
  width: 21%;
}

footer .footer-col:nth-child(2) {
  width: 27%;
}

footer .footer-col .col-title {
  margin-bottom: 17px;
  text-transform: uppercase;
}

footer .copyright {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  font-size: 11px;
  line-height: 13px;
  color: #B9B9B9;
}

footer .social a {
  display: inline-block;
}

footer .social a + a {
  margin-left: 10px;
}

footer .social a:hover {
  color: #666;
}

footer .social i.fa {
  font-size: 20px;
}

footer .counters .item {
  display: inline-block;
}

footer .counters .item + .item {
  margin-left: 10px;
}

footer .tag-links a {
  display: inline-block;
  position: relative;
  margin-right: 15px;
  padding-right: 15px;
  line-height: 17px;
}

footer .tag-links a:before {
  content: '|';
  position: absolute;
  top: 0;
  right: 0;
}

footer .tag-links a:last-child:before {
  content: none;
}

footer .tag-links a:hover span {
  color: #666;
}

.auth-area fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.auth-area fieldset .button-submit {
  min-width: 170px;
  min-width: 17rem;
}

.auth-area .auth-form {
  display: none;
}

.auth-area .auth-form.active {
  display: block;
}

@media screen and (max-width: 1219px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 1025px) {
  html {
    font-size: 8px;
  }
}
