extends ../../layouts/mobile.jade
block content
	.post.post-sticky
		.post-image.poster.poster-caption(data-caption="Фото: Наталья Волкова / Фотобанк Лори")
			img(src="/assets/images/tmp/post-sticky.jpg", alt="Финал конкурса прорывных идей «Эврика! Концепт» пройдет 18 декабря в МГУ")

		.post-meta
			.post-rubric
				a(href="#") Горячие новости
			.post-date 15:05, 16 декабря 2015
			.post-title
				a(href="#") Финал конкурса прорывных идей «Эврика! Концепт» пройдет 18 декабря в МГУ
			.post-add-info
				a(href="#").item
					i.fa.fa-comments-o
					span 15 комментариев

		.post-content.split-content
			p Конкурсный отбор «Эврика! Концепт» является частью конкурсов «Эврика!». В 2015 году в конкурсном отборе «Эврика! Концепт» четыре номинации: IT+ — информационно-коммуникационные технологии, автоматизация и робототехника; Bio — биотех и медицинские технологии; Industry — новые технологии в машиностроении, инженерные разработки, приборостроение, транспорт; Oil & gas — новые материалы, компоненты, технические системы и оборудование для нефтегазовой отрасли.

		.news-list
			ul
				each newsItem in ['Грузия позитивно оценивает возможность отмены визового режима с Россией', 'Два спутника Galileo успешно отделились от ракеты-носителя «Союз-СТ»', 'По делу о хищениях заочно арестован один из бывших руководителей банка «Траст»', 'Мосгорсуд смягчил приговор фигуранту дела о вандализме на столичной высотке', 'Пожар в Доме культуры МВД в Москве потушен']
					li
						.news-date 15:34
						.news-title 
							a(href="#")= newsItem


		.posts-wrap
			-for (i=0; i<2; i++)
				article.post
					.post-image
						a(href="") 
							img(src="/assets/images/tmp/posts/1.jpg", alt="post title")
					.post-desc
						.post-date 15:05, 16 декабря 2015
						.post-title 
							a(href="") Задача успешно решена, общими усилиями
						.post-content
							p Bio — биотех и медицинские технологии; Industry — новые технологии в машиностроении, инженерные разработки, приборостроение, транспорт; Oil & gas — новые материалы.
				article.post
					.post-image
						a(href="") 
							img(src="/assets/images/tmp/posts/2.jpg", alt="post title")
					.post-desc
						.post-date 15:05, 16 декабря 2015
						.post-title
							a(href="") Новая подсветка установлена на здании университета
						.post-content
							p Гомеостаз, согласно традиционным представлениям, сложен. Перцепция иллюстрирует когнитивный генезис, что вызвало развитие поведения.
						.post-add-info
							i.fa.fa-comments-o
							a(href="#") 15 комментариев