extends ../../layouts/mobile.jade
block content
	.post
		a.post-image(href="#", style="background-image: url('/assets/images/tmp/post-sticky.jpg')")
		.post-image-caption Фото: Наталья Волкова / Фотобанк Лори
		.post-desc
			.post-meta
				.post-rubric
					a(href="#") Горячие новости
				.post-date 15:05, 16 декабря 2015
			.post-title
				a(href="#") Финал конкурса идей «Эврика! Концепт» пройдет 18 декабря в МГУ
			//- .post-add-info
			//- 	a(href="#").item
			//- 		i.fa.fa-comments-o
			//- 		span 15 комментариев

			.post-content
				p Конкурсный отбор «Эврика! Концепт» является частью конкурсов «Эврика!». В 2015 году в конкурсном отборе «Эврика! Концепт» четыре номинации: IT+ — информационно-коммуникационные технологии, автоматизация и робототехника; Bio — биотех и медицинские технологии; Industry — новые технологии в машиностроении, инженерные разработки, приборостроение, транспорт; Oil & gas — новые материалы, компоненты, технические системы и оборудование для нефтегазовой отрасли.

	.news-list
		ul
			each newsItem in ['Грузия позитивно оценивает возможность отмены визового режима с Россией', 'Два спутника Galileo успешно отделились от ракеты-носителя «Союз-СТ»', 'По делу о хищениях заочно арестован один из бывших руководителей банка «Траст»', 'Мосгорсуд смягчил приговор фигуранту дела о вандализме на столичной высотке', 'Пожар в Доме культуры МВД в Москве потушен']
				li
					.news-date 15:34
					.news-title 
						a(href="#")= newsItem

	.posts-feed
		-for (i=0; i<2; i++)
			.post
				a.post-image(href="#", style="background-image: url(/assets/images/tmp/posts/1.jpg)")
				.post-desc
					.post-meta
						.post-rubric
							a(href="#") Горячие новости
						.post-date 15:05, 16 декабря 2015
					.post-title
						a(href="") Задача успешно решена, общими усилиями
					.post-content
						p Bio — биотех и медицинские технологии; Industry — новые технологии в машиностроении, инженерные разработки, приборостроение, транспорт; Oil and gas — новые материалы.
			.post
				a.post-image(href="#", style="background-image: url(/assets/images/tmp/posts/2.jpg)")
				.post-desc
					.post-meta
						.post-rubric
							a(href="#") Горячие новости
						.post-date 15:05, 16 декабря 2015
					.post-title
						a(href="") Новая подсветка установлена на здании университета
					.post-content
						p Гомеостаз, согласно традиционным представлениям, сложен. Перцепция иллюстрирует когнитивный генезис, что вызвало развитие поведения.
	.text-center
		a.load-more-btn
			i.fa.fa-angle-down.button-icon
			i.fa.fa-circle-o-notch.fa-spin.loading-icon