extends ../layouts/default.jade
block content
	.page-sidebar.sidebar-left.xl-3-10
		include ../includes/sidebar-main.jade
	.page-content.xl-7-10
		article.post.post-sticky
			.post-image.poster.poster-caption(data-caption="Фото: Наталья Волкова / Фотобанк Лори")
				img(src="/assets/images/tmp/post-sticky.jpg", alt="Финал конкурса прорывных идей «Эврика! Концепт» пройдет 18 декабря в МГУ")

			.post-meta
				.post-rubric
					a(href="#") Горячие новости
				.post-date 15:05, 16 декабря 2015
				.post-title
					a(href="#") Финал конкурса прорывных идей «Эврика! Концепт» пройдет 18 декабря в МГУ
				.post-add-info
					a(href="#").item
						i.fa.fa-comments-o
						span 15 комментариев

			.post-content.split-content
				p Конкурсный отбор «Эврика! Концепт» является частью конкурсов «Эврика!». В 2015 году в конкурсном отборе «Эврика! Концепт» четыре номинации: IT+ — информационно-коммуникационные технологии, автоматизация и робототехника; Bio — биотех и медицинские технологии; Industry — новые технологии в машиностроении, инженерные разработки, приборостроение, транспорт; Oil & gas — новые материалы, компоненты, технические системы и оборудование для нефтегазовой отрасли.
				p Конкурсный отбор «Эврика! Концепт» является частью конкурсов «Эврика!». В 2015 году в конкурсном отборе «Эврика! Концепт» четыре номинации: IT+ — информационно-коммуникационные технологии, автоматизация и робототехника; Bio — биотех и медицинские технологии; Industry — новые технологии в машиностроении, инженерные разработки, приборостроение, транспорт; Oil & gas — новые материалы, компоненты, технические системы и оборудование для нефтегазовой отрасли.

		.posts-wrap.xl-7-10:.row.xl-2
			-for (i=0; i<2; i++)
				article.post
					.post-image
						a(href="") 
							img(src="/assets/images/tmp/posts/1.jpg", alt="post title")
					.post-desc
						.post-date 15:05, 16 декабря 2015
						.post-title 
							a(href="") Задача успешно решена, общими усилиями
						.post-content
							p Bio — биотех и медицинские технологии; Industry — новые технологии в машиностроении, инженерные разработки, приборостроение, транспорт; Oil & gas — новые материалы.
				article.post
					.post-image
						a(href="") 
							img(src="/assets/images/tmp/posts/2.jpg", alt="post title")
					.post-desc
						.post-date 15:05, 16 декабря 2015
						.post-title
							a(href="") Новая подсветка установлена на здании университета
						.post-content
							p Гомеостаз, согласно традиционным представлениям, сложен. Перцепция иллюстрирует когнитивный генезис, что вызвало развитие поведения.
						.post-add-info
							i.fa.fa-comments-o
							a(href="#") 15 комментариев
			.pagination
				ul
					li: a.disabled(href="#"): i.fa.fa-angle-left
					li: a.active(href="#") 1
					li: a(href="#") 2
					li: a(href="#") 3
					li: a(href="#") ...
					li: a(href="#") 10
					li: a(href="#"): i.fa.fa-angle-right

		.page-sidebar.xl-3-10
			.banner
				a(href="#")
					img(src="/assets/images/tmp/banner-1.jpg", alt="banner text")

		.banner
			a(href="#")
				img(src="/assets/images/tmp/banner-2.jpg", alt="banner text")

		.post.sinle-post
			.post-image.poster.poster-caption(data-caption="Binpress Inc., The Marketplace For Free and Commercial Code")
				img(src="/assets/images/tmp/single-post.jpg", alt="")
				.post-image-zoom
					//- button.zoom-btn
			.post-content.split-content
				p Филогенез, как принято считать, недоступно дает кризис. По их почти единодушному мнению, инсайт выбирает когнитивный код. Мышление, конечно, отражает стимул. Самонаблюдение, как принято считать, начинает закон. Психосоматика выбирает эгоцентризм.
				p Как было показано выше, ассоцианизм разрушаем. По их почти единодушному мнению, сновидение начинает интеракционизм. Чувство отражает девиантный закон.
				p Механизм власти сохраняет доиндустриальный тип политической культуры, говорится в докладе ОБСЕ. Англо-американский тип политической культуры, согласно традиционным представлениям, верифицирует конструктивный субъект власти.
				p Политический процесс в современной России, короче говоря, сохраняет эмпирический коммунизм. По мнению Бакунина, культ личности означает современный культ личности. Наконец, международная политика предсказуема.
