extends ../layouts/default.jade
block content
	article.post.post-sticky
		.post-image.poster
			img(src="/assets/images/tmp/post-sticky.jpg", alt="Финал конкурса прорывных идей «Эврика! Концепт» пройдет 18 декабря в МГУ")
			.poster-caption Фото: Наталья Волкова / Фотобанк Лори

		.post-meta
			.post-rubric
				a(href="#") Горячие новости
			.post-date 15:05, 16 декабря 2015
			.post-title
				a(href="#") Финал конкурса прорывных идей «Эврика! Концепт» пройдет 18 декабря в МГУ
			.post-comments
				i.fa.fa-comments-o
				a(href="#") 15 комментариев

		.post-content.split-content
			.split-col 
				p Конкурсный отбор «Эврика! Концепт» является частью конкурсов «Эврика!». В 2015 году в конкурсном отборе «Эврика! Концепт» четыре номинации: IT+ — информационно-коммуникационные технологии, автоматизация и робототехника; Bio — биотех и медицинские технологии; Industry — новые технологии в машиностроении, инженерные разработки, приборостроение, транспорт; Oil & gas — новые материалы, компоненты, технические системы и оборудование для нефтегазовой отрасли.
			.split-col
				p Конкурсный отбор «Эврика! Концепт» является частью конкурсов «Эврика!». В 2015 году в конкурсном отборе «Эврика! Концепт» четыре номинации: IT+ — информационно-коммуникационные технологии, автоматизация и робототехника; Bio — биотех и медицинские технологии; Industry — новые технологии в машиностроении, инженерные разработки, приборостроение, транспорт; Oil & gas — новые материалы, компоненты, технические системы и оборудование для нефтегазовой отрасли.

	.posts-wrap.with-ads
		-for (i=0; i<2; i++)
			article.post
				.post-image
					a(href="") 
						img(src="/assets/images/tmp/posts/1.jpg", alt="post title")
				.post-desc
					.post-date 15:05, 16 декабря 2015
					.post-title 
						a(href="") Задача успешно решена, общими усилиями
					.post-content
						p Bio — биотех и медицинские технологии; Industry — новые технологии в машиностроении, инженерные разработки, приборостроение, транспорт; Oil & gas — новые материалы.
			article.post
				.post-image
					a(href="") 
						img(src="/assets/images/tmp/posts/2.jpg", alt="post title")
				.post-desc
					.post-date 15:05, 16 декабря 2015
					.post-title
						a(href="") Новая подсветка установлена на здании университета
					.post-content
						p Гомеостаз, согласно традиционным представлениям, сложен. Перцепция иллюстрирует когнитивный генезис, что вызвало развитие поведения.
					.post-comments
						i.fa.fa-comments-o
						a(href="#") 15 комментариев
	.page-sidebar
		.banner
			a(href="#")
				img(src="/assets/images/tmp/banner-1.jpg", alt="banner text")

	.banner
		a(href="#")
			img(src="/assets/images/tmp/banner-2.jpg", alt="banner text")
	
	.sinle-post.post
		.post-image.poster
			img(src="/assets/images/tmp/single-post.jpg", alt="")
			.poster-caption Binpress Inc., The Marketplace For Free and Commercial Code
			.post-image-zoom
				//- button.zoom-btn
		.post-content.split-content
			.split-col
				p Филогенез, как принято считать, недоступно дает кризис. По их почти единодушному мнению, инсайт выбирает когнитивный код. Мышление, конечно, отражает стимул. Самонаблюдение, как принято считать, начинает закон. Психосоматика выбирает эгоцентризм.
				p Как было показано выше, ассоцианизм разрушаем. По их почти единодушному мнению, сновидение начинает интеракционизм. Чувство отражает девиантный закон.
			.split-col
				p Механизм власти сохраняет доиндустриальный тип политической культуры, говорится в докладе ОБСЕ. Англо-американский тип политической культуры, согласно традиционным представлениям, верифицирует конструктивный субъект власти.
				p Политический процесс в современной России, короче говоря, сохраняет эмпирический коммунизм. По мнению Бакунина, культ личности означает современный культ личности. Наконец, международная политика предсказуема.
