extends ../layouts/default.jade
block content
	.single-content
		.panel.xl-7-11.pull-auto
			.panel-title.fa-icon Cоглашение по защите персональных данных
			.format-text
				p.text-indent Компания берет на себя обязательства по защите Ваших персональных данных. Просим Вас ознакомиться с данной Политикой по защите персональных данных (далее — Политика). Политика определяет условия и цели сбора, хранения, защиты, обработки и распространения информации о пользователях ресурса www.vedomosti.ru, (далее Сайт).

				h3 Получение и использование личной информации
				p.text-indent Пользователи предоставляют ЗАО «Бизнес Ньюс Медиа», как оператору персональных данных, свои персональные данные, в том числе имя, фамилию, а также свои контактные данные и полное и безоговорочное, совершенное своей волей согласие на обработку «Бизнес Ньюс Медиа» (в том числе сбор, систематизацию, накопление, уточнение (обновление, изменение), использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение персональных данных, бессрочное хранение) вышеуказанных данных в электронном виде и/или на бумажных носителях для целей рассылки приглашений на официальные мероприятия, новостной рассылки, информирования о новых продуктах ЗАО «Бизнес Ньюс Медиа» и иной информации, в том числе рекламного характера, посредством почтового отправления либо электронной почты. Датой выдачи письменного согласия на обработку персональных данных пользователя, выражающегося в отправке анкеты посредством электронной связи на Сайте www.vedomosti.ru, является дата ознакомления с настоящей Политикой. Указанное в настоящем пункте согласие действует бессрочно и может быть отозвано пользователем путем письменного уведомления, направленного в адрес ЗАО «Бизнес Ньюс Медиа» заказным почтовым отправлением. Согласие пользователя на обработку персональных данных считается отозванным через 30 дней от даты получения ЗАО «Бизнес Ньюс Медиа» такого письменного уведомления от пользователя.
				
				h3.text-indent Раскрытие полученной информации третьим лицам
				p.text-indent ЗАО «Бизнес Ньюс Медиа» вправе передать персональную информацию о пользователе третьим лицам в случае, если:
					ul.list.list.text-indent
						li пользователь сам изъявил желание раскрыть эту информацию;
						li без этого пользователь не может воспользоваться неким продуктом или услугой;
						li этого требует российское, международное законодательство и/или органы власти с соблюдением законной процедуры;
						li пользователь нарушает пользовательское соглашение с Сайтом
				h3 Доступ к личной информации
				p.text-indent В соответствии с Федеральным законом РФ № 152-ФЗ «О персональных данных» вся собранная, хранящаяся и обработанная информация о пользователях считается информацией ограниченного доступа, если иное не установлено законодательством Российской Федерации. ЗАО «Бизнес Ньюс Медиа» принимает на себя обязательства сохранения конфиденциальности персональных данных пользователя. ЗАО «Бизнес Ньюс Медиа» обязуется принимать все разумные меры по защите персональной информации пользователей от уничтожения, искажения или разглашения. Пользователь вправе самостоятельно вносить изменения/дополнения через свой профиль на Сайтах.
				h3 Контактные данные
				p.text-indent Почтовый адрес ЗАО «Бизнес Ньюс Медиа» — 127018 г. Москва, ул. Полковая, д. 3, стр 1.	Контактный телефон: +7 (495) 232-32-00.