@include font-face(hn, helvetica-normal);
@include font-face(hb, helvetica-bold);

* {
	margin: 0;
	padding: 0;
	line-height: 1;

	box-sizing: border-box;
	// autoprefixer не дополняет, поэтому вручную
	// -webkit-tap-highlight-color: rgba(#FFF6F1, 0.5);
	//    -moz-tap-highlight-color: rgba(#FFF6F1, 0.5);
	//     -ms-tap-highlight-color: rgba(#FFF6F1, 0.5);
	// 		tap-highlight-color: rgba(#FFF6F1, 0.5);
}

html {
	font-size: $base-font-size;
	height: 100%;
}
body {
	height: 100%;
	overflow-x: hidden;
	font-family: Georgia;
	font-size: 14px;
	font-weight: normal;
	background-color: $color-bg-body;

	&.no-scroll {
		position: fixed; // ios safari bugfix
		width: 100%;
	}
}

a {
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}
a, span, p {
	color: inherit;
	font: inherit;
	line-height: inherit;
}

ul {
	list-style: none;
}

.clrfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

// vertical align
.v-middle {
	&:before {
		content: '';
		display: inline-block;
		width: 1px;
		height: 100%;
		margin-left: -1px;
		vertical-align: middle;
		// background-color: #f00;  // optional
	}
	& > * {
		display: inline-block;
		vertical-align: middle;
	}
}

.banner {
	@include rem(margin-bottom, 30px);

	a {
		display: block;
	}
	img {
		width: 100%;
	}
	&.fixed-image img {
		width: auto;
	}
}

.poster {
	position: relative;
	font-size: 0;

	img {
		display: block;
		width: 100%;
	}
	.poster-title {
		display: block;
		position: absolute;
		bottom: 0;
		margin-top: 6px;
		@include rem(padding, 24px);
		@include font-family(hb);
		@include rem(font-size, 27px);
		color: #fff;
		// background-color: rgba(0,0,0, .3);
		// transition: background-color .4s;
	}
	&.poster-caption:after {
		content: attr(data-caption);
		display: inline-block;
		margin-top: 6px;
		@include font-family(hn);
		font-size: 9px;
		line-height: 11px;
		color: $color-gray-4;
	}
	&.poster-overlay {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0, .3);
			transition: background-color .4s;
		}
		&:hover {
			&:before {
				background-color: transparent;
			}
			// .poster-title {
			// 	background-color: rgba(0,0,0, .3);
			// }
		}
	}
}

.table {
	display: table;
	width: 100%;

	.col {
		display: table-cell;
	}
}

.split-content {
	@include wrap();
	
	.split-col {
		width: 50%;
		@include rem(margin-bottom, 25px);
		@include rem(padding, 0 30px 0 0);
	}

	.split-col:nth-child(2n) {
		margin-left: -1px;
		@include rem(padding, 0 0 0 30px);
		border-left: 1px solid $color-gray-5;
	}
}