@include font-face(hn, helvetica-normal);
@include font-face(hb, helvetica-bold);

* {
	margin: 0;
	padding: 0;
	line-height: 1;

	box-sizing: border-box;
	// autoprefixer не дополняет, поэтому вручную
	// -webkit-tap-highlight-color: rgba(#FFF6F1, 0.5);
	//    -moz-tap-highlight-color: rgba(#FFF6F1, 0.5);
	//     -ms-tap-highlight-color: rgba(#FFF6F1, 0.5);
	// 		tap-highlight-color: rgba(#FFF6F1, 0.5);
}

html {
	font-size: $base-font-size;
	height: 100%;
}
body {
	height: 100%;
	padding: 0 10px;
	overflow-x: hidden;
	font-family: Georgia, serif;
	font-size: 14px;
	font-weight: normal;
	background-color: $color-bg-body;

	&.no-scroll {
		position: fixed; // ios safari bugfix
		width: 100%;
	}
}

a {
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
	&.link {
		color: $color-blue;
		border-bottom: 1px solid;
		&:hover {
			color: darken($color-blue, 15%);
			text-decoration: none;
		}
		&:focus {
			outline: none;
			border-width: 2px;
			border-color: darken($color-blue, 15%);
		}
	}
}
a, span, p {
	color: inherit;
	font: inherit;
	line-height: inherit;
}

ul {
	list-style: none;
}

.clrfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.pull-left {float: left;}
.pull-right {float: right;}
.pull-auto {margin-left: auto; margin-right: auto; float: none;}
.text-left {text-align: left;}
.text-right {text-align: right;}

// vertical align
.v-middle {
	&:before {
		content: '';
		display: inline-block;
		width: 1px;
		height: 100%;
		margin-left: -1px;
		vertical-align: middle;
		// background-color: #f00;  // optional
	}
	& > * {
		display: inline-block;
		vertical-align: middle;
	}
}
.banner {
	@include rem(margin-bottom, 30px);

	a {
		display: block;
	}
	img {
		width: 100%;
	}
	&.fixed-image img {
		width: auto;
	}
}
.table {
	display: table;
	width: 100%;

	.col {
		display: table-cell;
		max-width: 1px;
	}
}
.gutter-30 {
	@include wrap(30px);
}
.fa-icon {
	// если просто иконка + текст
	i.fa {
		@include rem(margin-right, 5px);
	}
	// если иконка + какой-либо эл-т
	// i.fa + span,
	// i.fa + .fa-caption {
	// 	@include rem(margin-left, 5px);
	// }
	// span ~ i.fa,
	// .fa-caption ~ i.fa {
	// 	margin-right: 0;
	// }
}

.poster {
	position: relative;
	font-size: 0;

	img {
		display: block;
		width: 100%;
	}
	.poster-title {
		display: block;
		position: absolute;
		bottom: 0;
		margin-top: 6px;
		@include rem(padding, 24px);
		@include font-family(hb);
		@include rem(font-size, 27px);
		color: #fff;
		// background-color: rgba(0,0,0, .3);
		// transition: background-color .4s;
	}
	&.poster-caption:after {
		content: attr(data-caption);
		display: inline-block;
		margin-top: 6px;
		@include font-family(hn);
		font-size: 9px;
		line-height: 11px;
		color: $color-gray-4;
	}
	&.poster-overlay {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0, .3);
			transition: background-color .4s;
		}
		&:hover {
			&:before {
				background-color: transparent;
			}
			// .poster-title {
			// 	background-color: rgba(0,0,0, .3);
			// }
		}
	}
}
.split-content {
	@include wrap();
	@include rem(margin-bottom, -25px); // убираем отступы от дочерних элементов
	
	p {
		width: 50%;
		@include rem(margin-bottom, 25px);
		@include rem(padding, 0 30px 0 0);
	}
	p + p {
		margin-top: 0 !important;
	}

	p:nth-child(2n) {
		margin-left: -1px;
		@include rem(padding, 0 0 0 30px);
		border-left: 1px solid $color-gray-5;
	}
}
.pagination {
	width: 100%;
	@include rem(margin-bottom, 30px);
	@include rem(padding-top, 20px);
	border-top: 1px solid $color-gray-5;

	ul {
		font-size: 0;
	}
	li {
		display: inline-block;
		margin: 0 5px;

		a {
			display: block;
			@include rem(padding, 5px 10px);
			border: 1px solid $color-gray-4;
			@include font-family(hn);
			font-size: 14px;
			text-align: center;
			color: #000;
			transition: all .3s;
			opacity: .6;

			&.active {
				color: #fff;
				background-color: $color-blue;
				border-color: transparent;
				opacity: 1;

				&.active:hover {
					cursor: default;
					opacity: 1;
				}
			}
			&.disabled {
				cursor: default;
				opacity: .6;
				&:hover {
					opacity: .6;
				}
			}

			&:hover {
				text-decoration: none;
				opacity: 1;
			}
		}
		&:first-child {
			margin-left: 0;
			a {
				border-radius: 0 0 0 5px;				
			}
		}
		&:last-child {
			margin-right: 0;
			a {
				border-radius: 0 5px 0 0;
			}
		}
	}
}