.comments {
	@include rem(margin, 25px 0);
	@include rem(padding, 0 25px 0 170px);

	.comments-title {
		border-bottom: 3px solid $color-gray;
		@include font-family(hb);
		@include rem(font-size, 14px);
		@include rem(margin-bottom, 15px);

		span {
			display: inline-block;
			@include rem(padding, 13px 43px);
			background-color: $color-gray;
			color: #fff;
		}
	}
	.no-comments {
		@include rem(font-size, 16px);
		color: $color-gray-3;
	}
	.comments-list {
		li {
			@include rem(margin-bottom, 23px);
		}
		.comment-meta {
			border-left: 3px solid transparent;
			@include rem(margin-bottom, 10px);
			@include rem(padding-left, 30px);
			@include rem(font-size, 14px);
			color: $color-gray-3;
			@extend .clrfix;
		}
		.comment-author {
			float: left;
		}
		.comment-date {
			float: right;
		}
		.comment-text {
			border-left: 3px solid $color-gray-5;
			@include rem(padding-left, 30px);
			@include rem(font-size, 16px);
			line-height: 20px;
			color: $color-gray;
		}
	}
	.comments-title + .comments-list  {
		@include rem(margin-top, 30px);
	}
	.comment-form {
		margin-bottom: 20px;
		text-align: right;

		textarea {
			width: 100%;
			min-height: 65px;
			margin-bottom: 10px;
			border: 1px solid $color-gray;
			text-align: left;

			&:focus {
				// outline: 1px solid $color-gray;
			}
		}
	}
}