button:focus,
input:focus, 
textarea:focus {
	outline: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="checkbox"] {
	border-radius: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"], 
textarea {
	width: 100%;
	@include rem(padding, 10px 15px);
	background: transparent;
	border: 1px solid $color-gray;
	font-size: 14px;
	color: #111;
	resize: vertical;

	&:focus {
		border-color: #666;
	}
}
textarea {
	min-height: 150px;
}
.button {
	@include rem(padding, 13px 33px);
	background-color: $color-gray;
	border: 3px solid $color-gray;
	@include font-family(hb);
	color: #fff;
	transition: border-color .3s, background-color .3s;

	&:hover {
		background-color: lighten($color-gray, 2%);
		border-color: darken($color-gray, 15%);
	}
}