.auth-area {
	display: block;
	@include wrap($gutter: 60px);
	@include rem(margin-bottom, 40px);
	@include rem(padding-top, 40px);
	@include rem(padding-bottom, 40px);
	@include font-family(hn);

	fieldset {
		border: 0;
		padding: 0;
		margin: 0;

		legend {
			@include font-family(hb);
			@include rem(font-size, 28px);
			@include rem(margin-bottom, 25px);
			color: #333;
		}

		.button-submit {
			@include rem(min-width, 170px);
		}
	}
}