// common styles
.page-wrap {
	max-width: 1200px;
	min-height: 100%;
	margin: 0 auto;
	margin-bottom: -$footer-height;
	padding: 100px 10px 0;
	min-width: 960px;

	&:after {
		content: "";
		display: block;
		height: $footer-height;
	}
}

.page-container {
	padding: 25px 0;
	border-top: 2px solid #000;
	border-bottom: 1px solid rgba(0,0,0, .15);
	@extend .clrfix;
	@include wrap();
}
.page-content {
	@include wrap();
}