.page-sidebar {
	// width: 30%;
	
	&.sidebar-left {
		@include rem(padding-right, 30px);
		.banner {text-align: left;}
	}
	&.sidebar-right {
		@include rem(padding-left, 30px);
		.banner {text-align: right;}
	}

	.widget {
		@include rem(margin-bottom, 25px);

		.widget-title {
			margin-bottom: 11px;
			@include font-family(hb);
			font-size: 14px;
			color: $color-blue-2;

			& + .widget-content {
				padding: 13px 0 22px;
				border-top: 1px solid rgba(0,0,0, .15);
				border-bottom: 1px solid rgba(0,0,0, .15);
			}
		}
		&.widget-blinded {
			.widget-title {
				@include rem(font-size, 24px);
				line-height: 36px;
				color: $color-gray-3;
			}
			.widget-content {
				@include rem(font-size, 17px);
			}
		}
	}

	.post {
		@include rem(padding-right, 40px);

		.post-title {
			@include rem(margin-bottom, 25px);
			@include rem(padding-right, 15px);
		}

		.post-content {
			color: $color-gray;

			p {
				font-size: 16px;
				line-height: 20px;

				& + p {
					margin-top: 20px;
				}
			}
		}
	}
}