//- layout.jade
doctype html
html
	head
		title Alania 24
		link(rel="stylesheet", href="/assets/css/style.css")
		block head
	body
		block content

		script(src="/assets/js/partials/modals.js")
		script(src="/assets/js/partials/expand.js")
		script(src="/assets/js/app.js")