//- layout.jade
doctype html
html
	head
		title Alania 24
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/assets/css/vendor/font-awesome.min.css")
		link(rel="stylesheet", href="/assets/css/style.css")
		block head
	body
		.page-wrap
			include ../includes/header.jade
			.page-container
				.page-sidebar.sidebar-left
					include ../includes/sidebar.jade
				.page-content
					block content
				include ../includes/prefooter.jade
		include ../includes/footer.jade

		script(src="/assets/js/vendor/jquery-latest.min.js")
		script(src="/assets/js/partials/modal.js")
		script(src="/assets/js/partials/expand.js")
		script(src="/assets/js/app.js")