include ../includes/vars.jade
doctype html
html
	head
		include ../includes/head.jade
		block head
	body
		.page-wrap
			include ../includes/header.jade
			.page-container
				.page-content
					block content
				+posts(2)
		include ../includes/footer.jade

	include ../includes/scripts.jade