include ../includes/vars.jade
doctype html
html.mobile
	head
		include ../includes/head.jade
		block head
			link(rel="stylesheet", href="/assets/css/mobile.css")
	body
		.m-page-container#main-container
			include ../includes/mobile/navbar.jade
			include ../includes/mobile/header.jade
			.m-page-content
				block content
		include ../includes/mobile/footer.jade

	include ../includes/scripts.jade