footer
	.copyright © 1991–2015 ОАО «Алания 24». All rights reserved.
	.social
		each socialItem in ['fa-vk', 'fa-facebook-official', 'fa-twitter', 'fa-instagram', 'fa-google-plus']
			a(href="#")
				i.fa(class="#{socialItem}")