header
	a(href="#").navbar-expander.header-button.left-button
		i.fa.fa-bars
	.logo
		a(href="/")
			img(src="/assets/images/logo.png", alt="logo")
	a(href="#").header-button.right-button
		i.fa.fa-search