.main-navbar
	.nav
		.nav-title ОСНОВНЫЕ РАЗДЕЛЫ
		ul
			each tagItem in ['Фото', 'Видео', 'Авторы', 'Темы', 'Рейтинги', 'Новости компаний', 'Объявления о несостоятельности', 'Блоги Годовые отчеты компаний', 'Архив']
				li
					a(href="#")= tagItem

	.nav
		.nav-title Дополнительно
		ul
			each tagItem in ['Фото', 'Видео', 'Авторы', 'Темы', 'Рейтинги', 'Новости компаний', 'Объявления о несостоятельности', 'Блоги Годовые отчеты компаний', 'Архив']
				a(href="#")= tagItem

	.nav
		.nav-title ИНФОРМАЦИЯ
		ul
			each tagItem in ['Контакты', 'Редакция', 'Вакансии', 'О проекте', 'Правовая информация', 'Реклама']
				a(href="#")= tagItem

.navbar-overlay