.main-navbar
	.auth-block.widget
		a(href="#") Вход | Регистрация
	.nav.categories.widget
		ul
			each tagItem in ['РЕСПУБЛИКА', 'МИР', 'КУЛЬТУРА', 'ЭКОНОМИКА', 'БИЗНЕС', 'СПОРТ', 'КРИМИНАЛ', 'ИСТОРИЯ']
				li
					a(href="#")= tagItem

	.nav.widget
		.nav-title ОСНОВНЫЕ РАЗДЕЛЫ
		ul
			each tagItem in ['Фото', 'Видео', 'Авторы', 'Темы', 'Рейтинги', 'Новости компаний', 'Архив']
				li: a(href="#")= tagItem

	.nav.widget
		.nav-title ИНФОРМАЦИЯ
		ul
			each tagItem in ['Контакты', 'Редакция', 'Вакансии', 'О проекте', 'Правовая информация', 'Реклама']
				li: a(href="#")= tagItem

.navbar-overlay